body{
	font-family: 'Open Sans', sans-serif;
	background: #eee;
}
nav{
	width:100%;
	background: #eee;
	position: fixed;
	top: 0;
	overflow: hidden;
	padding: 1em;
}
nav a{
	float: right;
	text-decoration: none;
	color: #000;
	padding: 0 3em;
}
#form{
	display: flex;
	flex-direction: column;
	align-items: center;
}
#form h2{
	margin-top: 70px;
}
#email{
	margin-bottom: 0.83em;
	width: 21em;
	height: 2em;
	padding: 0 0.3em;
}
#submit{
	background: #f1c40f;
	color: #000;
	font-size: 1em;
	font-weight: 800;
	border: 0;
	padding: 0.2em 0.5em;
	margin-bottom: 6.5em;
}
#features{
	width: 60%;
	margin: 0 auto;
}
#videopl{
	width: 60%;
	margin: 100px;
	margin-left: 400px;
}
@media(min-width:768px){
	#pricing{
	width: 70%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.trombones{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 32%;
	border: 1px solid black;
}
.trombones p{
	margin: 0.5em;
}
.trombones p:nth-child(1){
	align-self: stretch;
	text-align: center;
	font-weight: 800;
	background: #ddd;
	margin: 0;
	padding: 1em;
}
.trombones p:nth-child(2){
	font-weight: 800;
	font-size: 1.5em;
}
.buttonp{
	background: #f1c40f;
	border: 0;
	font-size: 1em;
	padding: 0.7em 1.5em;
	margin: 1em;
}
footer{
	position: relative;
	background: #ddd;
	width: 70%;
	margin:40px auto 0 auto;
	padding: 1em;
	bottom: -20px;
}
footer p{
	text-align: right;
	margin: 0;
	font-size: 1em;
}
footer p:nth-child(2){
	color: #444;
	margin-top: 0.5em;
	font-size: 0.9em;
}
footer a{
	text-decoration: none;
	color: #000;
}